<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Air Quality Checker</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Expletus+Sans:400,400i|Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>


<body>
  <div class="squares square1"></div>
  <div class="squares square2"></div>
  <div class="squares square3"></div>
  <div class="squares square4"></div>
  <div class="squares square5"></div>
  <div class="squares square6"></div>
  <div class="squares square7"></div>
  <div class="container app">
    <div class="container text-center ">

      <h1 class="display-3">Cleairly</h1>

    </div>
    <div class="row">

      <div class="col-sm-12 city ">
        <h2 id="city">City:
          <%= cityName %>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 pm25">
        <h5>Pm 2.5</h5>
        <h3 id="pm25">
          <%= pm25Value %>
        </h3><img class="icon" src="images/air-pollution.png" alt="pm 2.5 icon" />
      </div>
      <div class="col-sm-6 time">
        <h5>Measurement time</h5>
        <h3 id="time">
          <%=timeValue %>
        </h3><img class="icon" src="images/clock.png" alt="time icon" />
      </div>
    </div>


    <div class="row">


      <div class="col-sm-6 pm10">
        <h5>Pm 10</h5>
        <h3 id="pm10">
          <%=pm10Value%>
        </h3><img class="icon" src="images/freshener.png" alt="pm10 icon" />
      </div>
      <div class="col-sm-6 temp">
        <h5>Temperature</h5>
        <h3 id="temp">
          <%=tempValue%> &#8451;</h3><img class="icon" src="../images/thermometer.png" alt="thermometer icon" />
      </div>
    </div>
  </div>

  <script src="app.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
